<div class="form-container">
  <form
  action="https://formspree.io/xwkrdwze"
  method="POST"
  >
  <label >
    Your name and last name:
    <input type="text" name="name">
  </label>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <!-- your other form fields go here -->

  <button type="submit" class ="form-btn">Send</button>
</form>
</div>
