<div class="page-container">
  <!-- NAVBAR -->
  <div class="banner-container">
    <div class="navbar-container">
      <nav class="navbar navbar-expand-lg d-flex">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- MAIN BANNER -->
    <div class="banner-profile-container">
      <div class="banner-profile">
        <div class="banner-profile-name">
          <p class="name">David</p>
          <p class="last-name">Hernandez<span id="dot">.</span></p>
          <div class="yellow-rectangule"></div>
        </div>
        <div class="banner-profile-description">
          <p>Junior Full Stack & Product
             Developer, based in
             Madrid.</p>
        </div>
      </div>
      <div class="banner-logos">
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
  <!-- ABOUT SECTION-->
  <div class="about-section">

  </div>
</div>
