.about-section {
  background-color: $darker-bg-color;
  width:100%;
  height:100vh;
  padding: 100px 85px;
  .home-grids {
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
    .developer-illustration{
      width: 70%;
      height: inherit;
    }

  }
  .about-description {
    font-family: 'Nunito Sans', sans-serif;
    .home-headings {
      color:$whiter-font-color;
      font-size: 48px;
      line-height: 65px;
      font-weight: bold;
    }
    .home-descriptions {
      color: $grayer-bodyfont-color;
      font-size: 16px;
      font-weight: 100;

    }
  }
}

