.home-headings {
  color:$whiter-font-color;
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
}
.portfolio-home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  .grid {
    height:100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
  }
}
