.explore-btn {
  font-family: 'Nunito Sans', sans-serif;
  color: $yellow-color;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid #FFC25C;
  &:hover {
    color: $yellow-color;
    text-decoration: none;
  }

  &:visited {
    color: $yellow-color;
    text-decoration: none;
  }

}

.form-btn {
  background-color: $yellow-color;
  border: none;
  border-radius: 10px;
  font-family: 'Nunito Sans', sans-serif;
  color: $darker-bg-color;
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
}
