.form-container {
  color:$grayer-bodyfont-color;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 100;
  input {
    border:none;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  textarea {
    border-radius: 2px;
    border:none;
  }
  label {
    display: flex;
    flex-direction: column;
  }
}
