// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-container {
  width: 100vw;
  height: 100vh;
}

//SMARTPHONE SIZE && TABLE SIZE

@media screen and (max-width: 1023px) {
  // ******* NAVBAR ********
  .nav-link {
    font-size: 60px;
  }
    .about-section {
      .home-headings-ipad {
        display:none;
      }
    }
}

@media screen and (min-width: 1025px) {
    .about-section {
      .home-headings-ipad {
        display:none;
      }
    }
}
