// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-container {
  width: 100vw;
  height: 100vh;
}

//SMARTPHONE SIZE && TABLE SIZE

@media screen and (max-width: 1023px) {

  // ********* BANNER **********
  .banner-container {
    padding:0px;
    height:100%;
    .banner-profile-container {
      text-align:center;
      height: 100%;
      width: 100%;
      margin-top: 25%;
    }
    .banner-logos {
      font-size: 80px;
      margin: 0 auto;
      a {
        &:hover {
          color: #EBEBEC;
          text-decoration: none;
        }
        &:visited {
          color: #EBEBEC;
          text-decoration:none;
        }
      }
    }
  }
  .navbar-container {
    padding: 15px 0 0 0;
    .navbar {
      display:block;
    }
  }

  .banner-profile {
    display:flex;
    flex-direction:column;
    align-items:center;
    .banner-profile-name {
      font-size: 140px;
    }
    .banner-profile-description p {
      font-size: 48px;
      line-height: 60px
    }
    .yellow-rectangule {
      margin: 0 auto;
    }
  }

  // ******* ABOUT SECTION ********
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .home-grids {
      grid-template-columns: 1fr;
      height: auto;
      img {
        margin: 0 auto;
      }
    }
    .about-description {
      .home-headings {
        text-align:center;
        font-size: 80px;
      }
    .home-descriptions {
      font-size: 26px;
    }

    }
  }

  // ******** PORTFOLIO SECTION*********
  .portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    .home-grids {
      grid-template-columns: 1fr;
      height: auto;
      img {
        margin: 0 auto;
      }
    }
    .portfolio-description {
      .home-headings {
        text-align:center;
        font-size: 80px;
      }
      .home-descriptions {
        font-size: 26px;
      }
      a {
        font-size: 30px;
      }
    }
  }
  // ***** CONTACT SECTION *****

  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    .home-grids {
      grid-template-columns: 1fr;
      height: auto;
      img {
        margin: 0 auto;
      }
    }
    .contact-description {
      .home-headings {
        text-align:center;
        font-size: 80px;
      }
      .home-descriptions {
        font-size: 26px;
      }
    }
  }

}

