  <div class="about-section" id="about">
    <div class="home-grids">
      <div class="about-description">
        <p class="home-headings">Do you want to <br> know more about</br>me?</p>
        <p class="home-descriptions">
          I am a Junior Full Stack and Product Developer currently based in Madrid, Spain.
          Who focus on building excellent software that turns complex problems into simple,
          by creating <strong>intuitive and dynamic user experiences</strong>.
          And by <strong>writting clean, elegant and efficient code</strong>.
          <br>I've always had a passion for technology and product development - even before becoming a developer,
          having self-learned the basics of web development (HTML & CSS), before joining Le Wagon Coding School.
          <br>I have 4+ years of customer service work experience which I use to be more than just a coder,
          connecting with the clients requirements with modern technology.
          <br>When I'm not coding you will find me watching Netflix, travelling or karting.
        </p>
      </div>
      <div class="developer-illustration">
        <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_WdTEui.json" background="transparent"  speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
