  <div class="contact-section" id="contact">
    <div class="home-grids">
      <div class="contact-description">
        <p class="home-headings">Let's get in touch.</p>
        <%= render 'shared/contactform' %>
      </div>
      <div class="contact-illustration">
          <!--<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_ICkctl.json" background="transparent"  speed="1" loop autoplay></lottie-player>-->
          <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_9ltfoN.json" background="transparent"  speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
