<div class="punchsection">
  <div class="square" id="sq-research">
    <p class="sq-heading">
      01. Research
    </p>
    <p class="sq-description">
      Understand the client’s needs completely and build on the knowledge related to it, becoming intimately
      familiar with the subject matter. Determine methods to address the specific customer’s needs and requirements.
    </p>
  </div>
  <div class="square" id="sq-design">
    <p class="sq-heading">
      02. Design
    </p>
    <p class="sq-description">
      Misleadingly thought of as the superficial appearance of a product, design actually encompasses a lot more. It is a
      cross functional process that includes market research, technical research, design of a concept, and prototype mockup.
    </p>
  </div>
  <div class="square" id="sq-develop">
    <p class="sq-heading">
      03. Develop
    </p>
    <p class="sq-description">
      Findings from the research and design phases are utilized for the production of specific products including materials,
      systems, and methods. Engineer utilizing the research and designs to produce commercial products for the customer.
    </p>
  </div>
</div>
